@page "/"
@inject ILocalStorageService localStorage



<PageTitle>Index</PageTitle>
<textarea @bind="connectionString" placeholder="Service bus connection string"></textarea>


    <button class="btn btn-primary" @onclick="SaveAsync">Save</button>



    @code {
        private string connectionString { get; set; } = "";
        protected override async Task OnInitializedAsync()
        {
            connectionString = await localStorage.GetItemAsync<string>(nameof(connectionString));
        }

        private async Task SaveAsync()
        {
            await localStorage.SetItemAsync(nameof(connectionString), connectionString);
        }

    }

