@page "/"
@inject StateContainer StateContainer
@implements IDisposable


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
<p>
    <textarea @bind="ConnectionString" placeholder="Enter connection string"/>
</p>
<button @onclick="ChangePropertyValue">
    Change the Property from the Nested component
</button>
</p>

@code {
    private string? ConnectionString { get; set; }


    protected override void OnInitialized()
    {
        ConnectionString = StateContainer.Property;
        StateContainer.OnChange += StateHasChanged;
    }

    private void ChangePropertyValue()
    {
        StateContainer.Property = ConnectionString;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
